<!--Section-2 About Start-->
<section class="section panel-about" id="section2" data-bg-color="#fff">
    <div class="container-fluid">
        <div class="row">

            <!--Image Left-->
            <div id="image-block" class="d-none d-sm-block col-md-6 image-block img-height fit-img">
                <figure><img src="/assets/images/about-1080x721.jpg" alt="image" /></figure>
            </div>
            <!--End-->

            <!--Text Right-->
            <div class="col-sm-12 col-md-6 text-block content-height">

                <h2>About</h2>

                <div id="about">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <!--End-->

        </div>
    </div>
    <div class="overlay" data-bg-color="#fff" data-opacity="0"></div>
</section>
<!--Section-2 About End-->