<!--Section-5 Flickr Panel Start-->
<div class="section panel-flickr svg" id="section5" data-bg-color="#373737">

    <div class="container">
        <div class="row">
            <div class="inner-wrapper">

                <!--Block Title-->
                <div class="block-title">
                    <h2>Photo gallery</h2>
                </div>
                <!--End-->

                <!--Category Filter Start-->
                <div class="portfolio-filter">
                    <ul>
                        <li class="filter selected" data-category="cat-all">All Categories /</li>
                        <li class="filter" data-category="cat-one">Vestibulum /</li>
                        <li class="filter" data-category="cat-two">Pellentesque /</li>
                        <li class="filter" data-category="cat-three">Aenean /</li>
                        <li class="filter" data-category="cat-four">Sed Rutrum</li>
                    </ul>
                </div>
                <!--Category Filter End-->

            </div>
        </div>
    </div>

    <!--Portfolio Item Start-->
    <div class="portfolio-item">
        <div class="megafolio-container norounded noborder">

            <!--Portfolio Item 1 Start-->
            <div class="mega-entry cat-all cat-four cat-three" id="entry-1" data-src="/assets/images/gallery/thumbnail01.jpg" data-width="800" data-height="600">

                <!--The Container For The Hover Effect-->
                <div class="mega-hover">

                    <!--Title and Subtitle-->
                    <div class="mega-hovertitle">Quisque vitae sapien
                        <div class="mega-hoversubtitle">Morbi pretium</div>
                    </div>

                    <!--The Link Button-->
                    <a href="#">
                        <div class="mega-hoverlink"><i class="fa fa-link"></i></div>
                    </a>

                    <!--The Lightbox Button-->
                    <a class="fancybox" data-fancybox-group="group" href="/assets/images/gallery/portfolio01.jpg" title="Lorem ipsum dolor sit amet">
                        <div class="mega-hoverview"><i class="fa fa-search-plus"></i></div>
                    </a>

                </div>
                <!--End Of The Hover Effect Markup-->

            </div>
            <!--Portfolio Item 1 End-->

            <!--Portfolio Item 2 Start-->
            <div class="mega-entry cat-all cat-one cat-four" id="entry-2" data-src="/assets/images/gallery/thumbnail02.jpg" data-width="800" data-height="600">

                <!--The Container For The Hover Effect-->
                <div class="mega-hover">

                    <!--Title and Subtitle-->
                    <div class="mega-hovertitle">Cras eu vehicula
                        <div class="mega-hoversubtitle">Morbi ut urna</div>
                    </div>

                    <!--The Link Button-->
                    <a href="#">
                        <div class="mega-hoverlink"><i class="fa fa-link"></i></div>
                    </a>

                    <!--The Lightbox Button-->
                    <a class="fancybox" data-fancybox-group="group" href="/assets/images/gallery/portfolio02.jpg" title="Lorem ipsum dolor sit amet">
                        <div class="mega-hoverview"><i class="fa fa-search-plus"></i></div>
                    </a>

                </div>
                <!--End Of The Hover Effect Markup-->

            </div>
            <!--Portfolio Item 2 End-->

            <!--Portfolio Item 3 Start-->
            <div class="mega-entry cat-all cat-two cat-one" id="entry-3" data-src="/assets/images/gallery/thumbnail03.jpg" data-width="800" data-height="600">

                <!--The Container For The Hover Effect-->
                <div class="mega-hover">

                    <!--Title and Subtitle-->
                    <div class="mega-hovertitle">Maecenas diam
                        <div class="mega-hoversubtitle">Duis dui porta</div>
                    </div>

                    <!--The Link Button-->
                    <a href="#">
                        <div class="mega-hoverlink"><i class="fa fa-link"></i></div>
                    </a>

                    <!--The Lightbox Button-->
                    <a class="fancybox" data-fancybox-group="group" href="/assets/images/gallery/portfolio03.jpg" title="Lorem ipsum dolor sit amet">
                        <div class="mega-hoverview"><i class="fa fa-search-plus"></i></div>
                    </a>

                </div>
                <!--End Of The Hover Effect Markup-->

            </div>
            <!--Portfolio Item 3 End-->

            <!--Portfolio Item 4 Start-->
            <div class="mega-entry cat-all cat-three cat-two" id="entry-4" data-src="/assets/images/gallery/thumbnail04.jpg" data-width="800" data-height="600">

                <!--The Container For The Hover Effect-->
                <div class="mega-hover">

                    <!--Title and Subtitle-->
                    <div class="mega-hovertitle">Duis interdum
                        <div class="mega-hoversubtitle">Aliquam dignissim</div>
                    </div>

                    <!--The Link Button-->
                    <a href="#">
                        <div class="mega-hoverlink"><i class="fa fa-link"></i></div>
                    </a>

                    <!--The Lightbox Button-->
                    <a class="fancybox" data-fancybox-group="group" href="/assets/images/gallery/portfolio04.jpg" title="Lorem ipsum dolor sit amet">
                        <div class="mega-hoverview"><i class="fa fa-search-plus"></i></div>
                    </a>

                </div>
                <!--End Of The Hover Effect Markup-->

            </div>
            <!--Portfolio Item 4 End-->

            <!--Portfolio Item 5 Start-->
            <div class="mega-entry cat-all cat-one cat-three" id="entry-5" data-src="/assets/images/gallery/thumbnail05.jpg" data-width="800" data-height="600">

                <!--The Container For The Hover Effect-->
                <div class="mega-hover">

                    <!--Title and Subtitle-->
                    <div class="mega-hovertitle">Duis ut porta
                        <div class="mega-hoversubtitle">Aenean sollicitudin</div>
                    </div>

                    <!--The Link Button-->
                    <a href="#">
                        <div class="mega-hoverlink"><i class="fa fa-link"></i></div>
                    </a>

                    <!--The Lightbox Button-->
                    <a class="fancybox" data-fancybox-group="group" href="/assets/images/gallery/portfolio05.jpg" title="Lorem ipsum dolor sit amet">
                        <div class="mega-hoverview"><i class="fa fa-search-plus"></i></div>
                    </a>

                </div>
                <!--End Of The Hover Effect Markup-->

            </div>
            <!--Portfolio Item 5 End-->

            <!--Portfolio Item 6 Start-->
            <div class="mega-entry cat-all cat-three cat-four" id="entry-6" data-src="/assets/images/gallery/thumbnail06.jpg" data-width="800" data-height="600">

                <!--The Container For The Hover Effect-->
                <div class="mega-hover">

                    <!--Title and Subtitle-->
                    <div class="mega-hovertitle">Duis imperdiet est
                        <div class="mega-hoversubtitle">Nam cursus turpis</div>
                    </div>

                    <!--The Link Button-->
                    <a href="#">
                        <div class="mega-hoverlink"><i class="fa fa-link"></i></div>
                    </a>

                    <!--The Lightbox Button-->
                    <a class="fancybox" data-fancybox-group="group" href="/assets/images/gallery/portfolio06.jpg" title="Lorem ipsum dolor sit amet">
                        <div class="mega-hoverview"><i class="fa fa-search-plus"></i></div>
                    </a>

                </div>
                <!--End Of The Hover Effect Markup-->

            </div>
            <!--Portfolio Item 6 End-->

            <!--Portfolio Item 7 Start-->
            <div class="mega-entry cat-all cat-two cat-one" id="entry-7" data-src="/assets/images/gallery/thumbnail07.jpg" data-width="800" data-height="600">

                <!--The Container For The Hover Effect-->
                <div class="mega-hover">

                    <!--Title and Subtitle-->
                    <div class="mega-hovertitle">Nullam sit amet
                        <div class="mega-hoversubtitle">Nam dignissim</div>
                    </div>

                    <!--The Link Button-->
                    <a href="#">
                        <div class="mega-hoverlink"><i class="fa fa-link"></i></div>
                    </a>

                    <!--The Lightbox Button-->
                    <a class="fancybox" data-fancybox-group="group" href="/assets/images/gallery/portfolio07.jpg" title="Lorem ipsum dolor sit amet">
                        <div class="mega-hoverview"><i class="fa fa-search-plus"></i></div>
                    </a>

                </div>
                <!--End Of The Hover Effect Markup-->

            </div>
            <!--Portfolio Item 7 End-->

            <!--Portfolio Item 8 Start-->
            <div class="mega-entry cat-all cat-four cat-two" id="entry-8" data-src="/assets/images/gallery/thumbnail08.jpg" data-width="800" data-height="600">

                <!--The Container For The Hover Effect-->
                <div class="mega-hover">

                    <!--Title and Subtitle-->
                    <div class="mega-hovertitle">Ut mauris magna
                        <div class="mega-hoversubtitle">Sed ut consequat</div>
                    </div>

                    <!--The Link Button-->
                    <a href="#">
                        <div class="mega-hoverlink"><i class="fa fa-link"></i></div>
                    </a>

                    <!--The Lightbox Button-->
                    <a class="fancybox" data-fancybox-group="group" href="/assets/images/gallery/portfolio08.jpg" title="Lorem ipsum dolor sit amet">
                        <div class="mega-hoverview"><i class="fa fa-search-plus"></i></div>
                    </a>

                </div>
                <!--End Of The Hover Effect Markup-->

            </div>
            <!--Portfolio Item 8 End-->

        </div>
    </div>
    <!--Portfolio Item End-->

    <!--More Item Link-->
    <div class="more-item-link">
        <a href="portfolio.html">All Portfolio</a>
    </div>
    <!--End-->

</div>
<!--Panel-4 Portfolio Panel Style 1 End-->