<section class="section panel-telegram svg" id="section4" data-image-svg="<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='rgba(255,255,255,0.2)' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'></path></svg>">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="block-title">
                        <div class="line-before"></div>
                        <h2>Telegram</h2>
                        <div class="line-after"></div>
                    </div>

                    <h2 class="author">by <strong>@nasa_apod</strong></h2>
                    <p class="tw-description">
                        Discover the cosmos! Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 no-gutters px-0">

                        <div class="telegramChannel">
                            <iframe id="preview" style="border:0px;height:500px;width:500px;margin:5px;box-shadow: 0 0 16px 3px rgba(0,0,0,.2);border-radius: 12px;" src=""></iframe>
                        </div>

            </div>
        </div>

    </div>
</section>