<!--Panel-2 Content Block Style 3 Start-->
<div class="section panel-2 content-block3 vertical-top text-right" data-bg-color="#fff" data-image-src="assets/images/blank.gif">
    <div class="container-fluid">
        <div class="row">

            <!--Image Left-->
            <div class="col-md-6 image-block img-height fit-img animate-fadeInLeft">
                <figure>
                    <img src="assets/images/upload/home-about-us-bg-image.jpg" alt="image" />
                </figure>
            </div>
            <!--End-->

            <!--Text Right-->
            <div class="col-md-6 text-block content-height">
                <div data-height="30"></div>
                <div class="animate-fadeInRight">
                    <h2>A Little About Me</h2>
                    <p>Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur. Pellentesque sem in posuere tempus, massa sem rutrum purus, a gravida risus quam eu nulla. Donec at justo id sapien vulputate ornare. Suspendisse risus.</p>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae Aliquam dignissim viverra dolor sit amet condimentum. Aenean sollicitudin, justo eu pulvinar rutrum, felis lectus mattis purus, a auctor nunc metus gravida dui. Nam cursus turpis vel ullamcorper sagittis. Nam dignissim sapien at tellus ultrices, at posuere dui accumsan aenean sodales sodales eros.</p>
                    <div data-height="23"></div>
                    <div class="button raised blue ripple">
                        <a href="about-us.html">Read More Details</a>
                    </div>
                </div>
            </div>
            <!--End-->

        </div>
    </div>
    <div class="overlay" data-bg-color="#fff" data-opacity="0"></div>
</div>
<!--Panel-2 Content Block Style 3 End-->