<!--Panel-2 About Start-->
<div class="section panel-2 panel-about vertical-top text-right" data-bg-color="#fff">
    <div class="container-fluid">
        <div class="row">

            <!--Image Left-->
            <div id="personalPhoto" class="d-none d-sm-block col-md-6 image-block img-height fit-img">
            </div>
            <!--End-->

            <!--Text Right-->
            <div class="col-sm-12 col-md-6 text-block content-height">
                <div data-height="30"></div>
                <div id="about"></div>
            </div>
            <!--End-->

        </div>
    </div>
    <div class="overlay" data-bg-color="#fff" data-opacity="0"></div>
</div>
<!--Panel-2 About End-->