<!--Panel-2 Content Block Style 3 Start-->
<div class="section panel-2 content-block3 vertical-top text-right" data-bg-color="#fff" data-image-src="assets/images/blank.gif">
    <div class="container-fluid">
        <div class="row">

            <!--Image Left-->
            <div class="col-md-6 image-block img-height fit-img animate-fadeInLeft">
                <figure>
                    <img src="assets/images/content/mikheev.jpg" alt="image" />
                </figure>
            </div>
            <!--End-->

            <!--Text Right-->
            <div class="col-md-6 text-block content-height">
                <div data-height="30"></div>
                <div class="animate-fadeInRight">
                    <h2>О себе</h2>
                    <p>Родился 28 мая 1967 года в Москве. После окончания школы в 1985 году служил в рядах Советской Армии до 1987 года. Работал в Военно-воздушной инженерной академии имени профессора Н. Е. Жуковского до 1994 года</p>

                    <p>В 1994 году поступил в МГУ им. Ломоносова на философский факультет по специальности «политология». Окончил обучение в 1999 году</p>

                    <p>Сотрудничал со следующими организациями:</p>
                    <ul>
                        <li>Лаборатория региональной политики МГУ</li>
                        <li>Центр политической конъюнктуры России</li>
                        <li>Центр политических технологий</li>
                        <li>Конгресс русских общин</li>
                        <li>Центр политических технологий</li>
                        <li>Сайт «Политком.ру»</li>
                    </ul>

                    <p>Персона нон-дезидерата (нежелательное лицо) в Евросоюзе с 2014 года в связи с позицией по украинскому кризису</p>

                    <p>Участник политических ток-шоу на российском телевидении</p>

                    <p>Глава Института Каспийского сотрудничества. Глава экспертно-консультационного Совета при Главе Республики Крым</p>

                    <p>Женат. Трое детей. Православный христианин</p>


                    <div data-height="23"></div>
                    <!--<div class="button raised blue ripple">
                        <a href="about-us.html">Read More Details</a>
                    </div>-->
                </div>
            </div>
            <!--End-->

        </div>
    </div>
    <div class="overlay" data-bg-color="#fff" data-opacity="0"></div>
</div>
<!--Panel-2 Content Block Style 3 End-->