<!--Panel-5 Home Blog Panel Start-->
<div class="section panel-5 home-blog-panel dark" data-bg-color="#313131" data-image-src="assets/images/upload/home-blog-bg-image.jpg">
    <div class="group-wrapper">
        <div class="container">
            <div class="row">

                <div class="inner-wrapper">

                    <!--Block Title-->
                    <div class="block-title">
                        <h1>Blog</h1>
                    </div>
                    <!--End-->

                </div>

                <div class="animate-fadeInUp">
                    <script src="https://platform.twitter.com/widgets.js"></script>
                    <a class="twitter-timeline" data-tweet-limit="3"
                       href="https://twitter.com/akorovkin">
                        Tweets by @akorovkin
                    </a>

                    <!--Carousel Items Start-->
                    <div class="owl-carousel box-carousel-wrapper">

                        <!--Item 1 Start-->
                        <div class="carousel-item">
                            <div class="carousel-inner">
                                <figure>
                                    <img src="assets/images/upload/home-blog-panel-thumbnail1.jpg" alt="thumbnail" />
                                </figure>
                                <div class="content-block-detail">
                                    <div class="fab light-blue ripple">
                                        <a href="blog-single01.html"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <h3>Sed fringilla egestas</h3>
                                    <div class="item-list-description">Sed ac condimentum nulla, quis semper arcu sed ac erat sit amet enim euismod faucibus quisque nec lobortis arcu adipiscing.</div>
                                </div>
                                <div class="blog-meta number">
                                    <ul>
                                        <li><a href="#">05/05</a></li>
                                        <li><a href="#">Category</a></li>
                                        <li><a href="#">5 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Item 1 End-->

                        <!--Item 2 Start-->
                        <div class="carousel-item">
                            <div class="carousel-inner">
                                <figure>
                                    <img src="assets/images/upload/home-blog-panel-thumbnail2.jpg" alt="thumbnail" />
                                </figure>
                                <div class="content-block-detail">
                                    <div class="fab light-blue ripple">
                                        <a href="blog-single02.html"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <h3>Lorem ipsum dolor</h3>
                                    <div class="item-list-description">Sed ac condimentum nulla, quis semper arcu sed ac erat sit amet enim euismod faucibus quisque nec lobortis arcu adipiscing.</div>
                                </div>
                                <div class="blog-meta number">
                                    <ul>
                                        <li><a href="#">05/05</a></li>
                                        <li><a href="#">Category</a></li>
                                        <li><a href="#">5 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Item 2 End-->

                        <!--Item 3 Start-->
                        <div class="carousel-item">
                            <div class="carousel-inner">
                                <figure>
                                    <img src="assets/images/upload/home-blog-panel-thumbnail3.jpg" alt="thumbnail" />
                                </figure>
                                <div class="content-block-detail">
                                    <div class="fab light-blue ripple">
                                        <a href="blog-single03.html"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <h3>Aliquam urna dignissim</h3>
                                    <div class="item-list-description">Sed ac condimentum nulla, quis semper arcu sed ac erat sit amet enim euismod faucibus quisque nec lobortis arcu adipiscing.</div>
                                </div>
                                <div class="blog-meta number">
                                    <ul>
                                        <li><a href="#">05/05</a></li>
                                        <li><a href="#">Category</a></li>
                                        <li><a href="#">5 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Item 3 End-->

                        <!--Item 4 Start-->
                        <div class="carousel-item">
                            <div class="carousel-inner">
                                <figure>
                                    <img src="assets/images/upload/home-blog-panel-thumbnail4.jpg" alt="thumbnail" />
                                </figure>
                                <div class="content-block-detail">
                                    <div class="fab light-blue ripple">
                                        <a href="blog-single04.html"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <h3>Vestibulum ante ipsum</h3>
                                    <div class="item-list-description">Sed ac condimentum nulla, quis semper arcu sed ac erat sit amet enim euismod faucibus quisque nec lobortis arcu adipiscing.</div>
                                </div>
                                <div class="blog-meta number">
                                    <ul>
                                        <li><a href="#">05/05</a></li>
                                        <li><a href="#">Category</a></li>
                                        <li><a href="#">5 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Item 4 End-->

                        <!--Item 5 Start-->
                        <div class="carousel-item">
                            <div class="carousel-inner">
                                <figure>
                                    <img src="assets/images/upload/home-blog-panel-thumbnail5.jpg" alt="thumbnail" />
                                </figure>
                                <div class="content-block-detail">
                                    <div class="fab light-blue ripple">
                                        <a href="blog-single05.html"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <h3>Quisque arcu lobortis</h3>
                                    <div class="item-list-description">Sed ac condimentum nulla, quis semper arcu sed ac erat sit amet enim euismod faucibus quisque nec lobortis arcu adipiscing.</div>
                                </div>
                                <div class="blog-meta number">
                                    <ul>
                                        <li><a href="#">05/05</a></li>
                                        <li><a href="#">Category</a></li>
                                        <li><a href="#">5 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Item 5 End-->

                        <!--Item 6 Start-->
                        <div class="carousel-item">
                            <div class="carousel-inner">
                                <figure>
                                    <img src="assets/images/upload/home-blog-panel-thumbnail6.jpg" alt="thumbnail" />
                                </figure>
                                <div class="content-block-detail">
                                    <div class="fab light-blue ripple">
                                        <a href="blog-single06.html"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <h3>Proin euismod velit</h3>
                                    <div class="item-list-description">Sed ac condimentum nulla, quis semper arcu sed ac erat sit amet enim euismod faucibus quisque nec lobortis arcu adipiscing.</div>
                                </div>
                                <div class="blog-meta number">
                                    <ul>
                                        <li><a href="#">05/05</a></li>
                                        <li><a href="#">Category</a></li>
                                        <li><a href="#">5 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Item 6 End-->

                    </div>
                    <!--Carousel Items End-->

                </div>

            </div>
        </div>
    </div>

    <!--More Item Link-->
    <div class="more-item-link">
        <a href="blog.html">All Articles</a>
    </div>
    <!--End-->

    <div class="overlay" data-bg-color="#313131" data-opacity="0.5"></div>
</div>
<!--Panel-5 Home Blog Panel End-->