<!--Panel-5 Home Blog Panel Start-->
<div class="section panel-5 panel-twitter dark" data-bg-color="#484848">
    <div class="group-wrapper">
        <div class="container">
            <div class="row">

                    <!--Block Title-->
                    <div class="block-title">
                        <h1></h1>
                    </div>
                    <!--End-->


                <div class="animate-fadeInUp">
                                        <!--Carousel Items Start-->
                    <div id="twitterBlog"  class="owl-carousel box-carousel-wrapper">

                    </div>
                    <!--Carousel Items End-->

                </div>

            </div>
        </div>
    </div>

    <!--More Item Link-->
    <div class="more-item-link">
        <a href=""></a>
    </div>
    <!--End-->

    <div class="overlay" data-bg-color="#313131" data-opacity="0.5"></div>
</div>
<!--Panel-5 Home Blog Panel End-->