<!--Panel-6 Home Contact Us Panel Start-->
<div class="section panel-6 home-contact-panel dark" data-bg-color="#006064" data-image-src="assets/images/upload/panel-bg-image01.jpg">
    <div class="container">
        <div class="row">

                <!--Block Title-->
                <div class="block-title">
                    <h1></h1>
                </div>
                <!--End-->

            <!--Input Field Box Start-->
            <div class="col">
                <div class="box contact-form-wrapper">

                    <form id="form_contact" class="submit-form">

                        <!--Name and Email Field Box-->
                        <div class="row">
                            <div class="col addpadding">
                                <div class="box text-input">
                                    <input id="name" type="text" name="name" autocomplete="new-password" required />
                                    <label for="name"></label>
                                    <span></span>
                                </div>
                            </div>
                            <div class="col addpadding">
                                <div class="box text-input">
                                    <input id="email" type="text" name="email" autocomplete="new-password" required />
                                    <label for="email"></label>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <!--Subject Field Box-->
                        <div class="box text-input">
                            <input id="mysubject" type="text" name="mysubject" autocomplete="new-password" required />
                            <label for="mysubject"></label>
                            <span></span>
                        </div>

                        <!--Message Field Box-->
                        <div class="box text-input textarea">
                            <input class="formPhone" type="text" id="phone" name="phone" autocomplete="new-password" value="" />
                            <textarea id="mymessage" name="mymessage" required></textarea>
                            <label for="mymessage"></label>
                            <span></span>
                        </div>

                        <!--Submit Button-->
                        <div class="button raised dark-grey">
                            <input id="submit_message" type="submit" value=""/>
                        </div>

                        <span class="loading"><i class="fa fa-spinner fa-pulse"></i></span>

                        <div class="clearfix"></div>

                        <div id="reply_message"></div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="overlay" data-bg-color="#006064" data-opacity="0.7"></div>
</div>
<!--Panel-7 Home Contact Us Panel End-->