<!--Panel-6 Home Contact Us Panel Start-->
<div class="section panel-6 home-contact-panel dark" data-bg-color="#006064" >
    <div class="container">
        <div class="row">

            <div class="inner-wrapper">

                <!--Block Title-->
                <div class="block-title">
                    <h1></h1>
                </div>
                <!--End-->

            </div>

            <!--Input Field Box Start-->
            <div class="col-md-12">
                <div class="box contact-form-wrapper">

                    <form id="form_contact" class="submit-form">

                        <!--Name and Email Field Box-->
                        <div class="row">
                            <div class="col-sm-6 addpadding">
                                <div class="box text-input">
                                    <input id="name" type="text" name="name" autocomplete="new-password" required />
                                    <label for="name"></label>
                                    <span></span>
                                </div>
                            </div>
                            <div class="col-sm-6 addpadding">
                                <div class="box text-input">
                                    <input id="email" type="text" name="email" autocomplete="new-password" required />
                                    <label for="email"></label>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <!--Subject Field Box-->
                        <div class="box text-input">
                            <input id="mysubject" type="text" name="mysubject" autocomplete="new-password" required />
                            <label for="mysubject"></label>
                            <span></span>
                        </div>

                        <!--Message Field Box-->
                        <div class="box text-input textarea">
                            <input class="formPhone" type="text" id="phone" name="phone" autocomplete="new-password" value="" />
                            <textarea id="mymessage" name="mymessage" required></textarea>
                            <label for="mymessage"></label>
                            <span></span>
                        </div>

                        <!--Submit Button-->
                        <div class="button raised dark-grey">
                            <input id="submit_message" type="submit" value=""/>
                        </div>

                        <span class="loading"><i class="fa fa-spinner fa-pulse"></i></span>

                        <div class="clearfix"></div>

                        <div id="reply_message"></div>

                    </form>

                </div>
            </div>
            <!--Input Field Box End-->

            <!--Contact Info Start
            <div class="col-md-4">
                <div class="box contact-info-wrapper">
                    <ul class="contact-info">
                        <li>
                            <div class="contact-info-icon">
                                <span><i class="fa fa-flag"></i></span>
                            </div>
                            <div class="contact-info-text number">
                                559 Lilac Lane Statesboro<br>GA USA 30458
                            </div>
                        </li>
                        <li>
                            <div class="contact-info-icon">
                                <span><i class="fa fa-phone-square"></i></span>
                            </div>
                            <div class="contact-info-text">
                                Phone:<br><span class="font-number">123 456 7890</span>
                            </div>
                        </li>
                        <li>
                            <div class="contact-info-icon">
                                <span><i class="fa fa-envelope"></i></span>
                            </div>
                            <div class="contact-info-text number">
                                Email:<br>contact@domain.com
                            </div>
                        </li>
                    </ul>

                    <div data-height="41"></div>

                    <div class="contact-description">
                        <p>Lorem ipsum dolor sit amet consectetur mauris magna, lacinia ac purus quis, rutrum bibendum leo. Nullam sit amet nibh eu odio ornare laoreet dolor imperdiet est ut tristique auctor sed.</p>
                    </div>

                    <div data-height="18"></div>

                    <div class="button raised icon dark-grey ripple">
                        <div>
                            <a href="https://www.google.com/maps/place/Envato/@-37.817331,144.955652,17z/data=!3m1!4b1!4m2!3m1!1s0x6ad65d4c2b349649:0xb6899234e561db11?hl=en" target="_blank"><i class="fa fa-map-marker"></i>Open Map</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </div>
            Contact Info End-->

        </div>
    </div>
    <div class="overlay" data-bg-color="#006064" data-opacity="0.7"></div>
</div>
<!--Panel-7 Home Contact Us Panel End-->