<!--Panel-7 Footer Panel Start-->
<div class="section panel-7 footer-panel dark" data-bg-color="#111111" data-image-src="assets/images/content/tsar.jpg">
    <div class="container">

        <div data-height="30"></div>

        <!--Footer Logo-->
        <div class="footer-logo animate-fadeIn">
            <a href="#"><img src="assets/images/miheev-w.png" alt="footer logo" /></a>
        </div>

        <div data-height="80"></div>

        <!--Footer Description-->
        <div class="footer-description animate-fadeIn">
            Персона  <span data-color="#00acc1">нон-дезидерата</span> в Евросоюзе
        </div>
        <div data-height="35"></div>
        <div class="footer-subdescription animate-fadeIn">
            Участник политических ток-шоу <br>на российском телевидении
        </div>

        <div data-height="80"></div>

        <div class="animate-fadeIn">

            <!--Footer Social Media-->
            <div class="social-media">
                <ul>
                    <li><a href="https://www.facebook.com/miheevpolitolog"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/miheevpolitolog"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCjHHzZ7KcWwej-W_7B0NskA"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/politologmiheev/"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>

            <!--Copyright-->
            <div class="copyright">
                Copyrights © <a href="/"></a>.
            </div>

        </div>

    </div>
    <div class="overlay" data-bg-color="#111111" data-opacity="0.8"></div>
</div>
<!--Panel-8 Footer Panel End-->