<!--Panel-7 Footer Panel Start-->
<div class="section panel-7 footer-panel dark" data-bg-color="#111111" data-image-src="assets/images/upload/footer-bg-image.jpg">
    <div class="container">

        <div data-height="30"></div>

        <!--Footer Logo-->
        <div class="footer-logo animate-fadeIn">
            <a href="#"><img src="assets/images/upload/footer-logo.png" alt="footer logo" /></a>
        </div>

        <div data-height="80"></div>

        <!--Footer Description-->
        <div class="footer-description animate-fadeIn">
            Sed fringilla <span data-color="#00acc1">egestas morbi</span> condimentum
        </div>
        <div data-height="35"></div>
        <div class="footer-subdescription animate-fadeIn">
            Lorem ipsum dolor sit amet consectetur adipiscing<br>mauris magna lacinia purus quis.
        </div>

        <div data-height="80"></div>

        <div class="animate-fadeIn">

            <!--Footer Social Media-->
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

            <!--Copyright-->
            <div class="copyright">
                Copyrights © 2015 <a href="#">Wizard</a>. All Rights Reserved.
            </div>

        </div>

    </div>
    <div class="overlay" data-bg-color="#111111" data-opacity="0.8"></div>
</div>
<!--Panel-8 Footer Panel End-->