<!--Portfolio Panel Style 3 Start-->
<div class="section panel-4 portfolio-panel3" data-midnight="darkColor" data-bg-color="#f7f7f7">
    <div class="group-wrapper">
        <div class="container">
            <div class="row">
                <div class="inner-wrapper">

                    <!--Block Title-->
                    <div class="block-title">
                        <h1></h1>
                    </div>
                    <!--End-->

                </div>
            </div>
        </div>
        <div id="instagramWidget"></div>

        <div id="portfolioTabs" class="portfolio-tabs-wrapper">

            <!--Thumbnail List Start-->
            <ul class="portfolio-tabs-list"></ul>
            <!--Thumbnail List End-->

            <div id="tabs_container" class="portfolio-detail-wrapper"></div>

        </div>

    </div>

    <!--More Item Link-->
    <div class="more-item-link">
        <a href=""></a>
    </div>
    <!--End-->

    <div class="overlay" data-bg-color="#f7f7f7" data-opacity="0.8"></div>
</div>
<!--Portfolio Panel Style 3 End-->