<!--Portfolio Panel Style 3 Start-->
<div class="section panel-4 panel-instagram" data-bg-color="#fff">
    <div class="group-wrapper">
        <div class="container">
            <div class="row">


                <!--Block Title-->
                <div class="block-title">
                    <h1>Portfolio</h1>
                </div>
                <!--End-->


            </div>
        </div>

        <div id="instagramTabs" class="portfolio-tabs-wrapper">

            <!--Thumbnail List Start-->
            <ul class="portfolio-tabs-list">

            </ul>
            <!--Thumbnail List End-->

            <div id="tabs_container" class="portfolio-detail-wrapper">

            </div>
        </div>

    </div>

    <!--More Item Link-->
    <div class="more-item-link">
        <a href="#">All Portfolio</a>
    </div>
    <!--End-->

    <div class="overlay" data-bg-color="#f7f7f7" data-opacity="0.8"></div>
</div>
<!--Portfolio Panel Style 3 End-->