<!--Portfolio Panel Style 3 Start-->
<div class="section panel-4 portfolio-panel3" data-bg-color="#f7f7f7" data-image-src="assets/images/upload/panel-bg-image01.jpg">
    <div class="group-wrapper">
        <div class="container">
            <div class="row">
                <div class="inner-wrapper">

                    <!--Block Title-->
                    <div class="block-title">
                        <h1>Portfolio</h1>
                    </div>
                    <!--End-->

                </div>
            </div>
        </div>

        <div id="portfolioTabs" class="portfolio-tabs-wrapper">

            <!--Thumbnail List Start-->
            <ul class="portfolio-tabs-list">
                <li>
                    <a href="#portfolio-tabs-1">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail01.jpg" alt="thumbnail" />
                    </a>
                </li>
                <li>
                    <a href="#portfolio-tabs-2">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail02.jpg" alt="thumbnail" />
                    </a>
                </li>
                <li>
                    <a href="#portfolio-tabs-3">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail03.jpg" alt="thumbnail" />
                    </a>
                </li>
                <li>
                    <a href="#portfolio-tabs-4">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail04.jpg" alt="thumbnail" />
                    </a>
                </li>
                <li>
                    <a href="#portfolio-tabs-5">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail05.jpg" alt="thumbnail" />
                    </a>
                </li>
                <li>
                    <a href="#portfolio-tabs-6">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail06.jpg" alt="thumbnail" />
                    </a>
                </li>
                <li>
                    <a href="#portfolio-tabs-7">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail07.jpg" alt="thumbnail" />
                    </a>
                </li>
                <li>
                    <a href="#portfolio-tabs-8">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail08.jpg" alt="thumbnail" />
                    </a>
                </li>
                <li>
                    <a href="#portfolio-tabs-9">
                        <span class="thumbnail-hover"></span>
                        <img src="assets/images/upload/portfolio-panel3-thumbnail09.jpg" alt="thumbnail" />
                    </a>
                </li>
            </ul>
            <!--Thumbnail List End-->

            <div id="tabs_container" class="portfolio-detail-wrapper">

                <!--Portfolio Item 1 Start-->
                <div id="portfolio-tabs-1" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail01.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Aliquam dolor</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 1 End-->

                <!--Portfolio Item 2 Start-->
                <div id="portfolio-tabs-2" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail02.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Aenean cubilia</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 2 End-->

                <!--Portfolio Item 3 Start-->
                <div id="portfolio-tabs-3" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail03.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Lorem ipsum</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 3 End-->

                <!--Portfolio Item 4 Start-->
                <div id="portfolio-tabs-4" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail04.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Sed fringilla</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 4 End-->

                <!--Portfolio Item 5 Start-->
                <div id="portfolio-tabs-5" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail05.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Vestibulum enim</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 5 End-->

                <!--Portfolio Item 6 Start-->
                <div id="portfolio-tabs-6" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail06.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Maecenas nec</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 6 End-->

                <!--Portfolio Item 7 Start-->
                <div id="portfolio-tabs-7" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail07.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Phasellus arcu</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 7 End-->

                <!--Portfolio Item 8 Start-->
                <div id="portfolio-tabs-8" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail08.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Donec gravida</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 8 End-->

                <!--Portfolio Item 9 Start-->
                <div id="portfolio-tabs-9" class="portfolio-tabs">

                    <!--Image-->
                    <figure class="portfolio-tabs-img">
                        <img src="assets/images/upload/portfolio-panel3-thumbnail09.jpg" alt="portfolio" />
                    </figure>

                    <!--Detail-->
                    <section class="portfolio-tabs-detail">
                        <h2>Vestibulum diam</h2>
                        <div class="item-list-description">Sed fringilla egestas condimentum. Morbi ut urna nec nunc pretium iaculis. Duis porta, dui vel dictum laoreet, tortor lectus iaculis dui, quis volutpat eros velit sed diam. Duis interdum eu sem sed rhoncus. Maecenas fringilla quam sit amet consectetur justo pulvinar.</div>
                        <div class="button raised dark-grey ripple">
                            <a href="#">Read More Details</a>
                        </div>
                    </section>

                </div>
                <!--Portfolio Item 9 End-->

            </div>

        </div>

    </div>

    <!--More Item Link-->
    <div class="more-item-link">
        <a href="#">All Portfolio</a>
    </div>
    <!--End-->

    <div class="overlay" data-bg-color="#f7f7f7" data-opacity="0.8"></div>
</div>
<!--Portfolio Panel Style 3 End-->