<!--Portfolio Panel Style 3 Start-->
<div class="section panel-4 portfolio-panel3" data-midnight="darkColor" data-bg-color="#f7f7f7" data-image-src="assets/images/blank.gif">
    <div class="group-wrapper">
        <div class="container">
            <div class="row">
                <div class="inner-wrapper">

                    <!--Block Title-->
                    <div class="block-title">
                        <h1>Фрагменты</h1>
                    </div>
                    <!--End-->

                </div>
            </div>
        </div>

        <div style="max-width:1017px;margin: 0 auto;">
        <div class="powr-social-feed" id="5c0c2d67_1585457077"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
        </div>



    </div>

    <!--More Item Link-->
    <div class="more-item-link">
        <a href="https://instagram.com/politologmiheev">Инстаграм</a>
    </div>
    <!--End-->


</div>
<!--Portfolio Panel Style 3 End-->