<!--Panel-3 Services Panel Style 3 Start-->
<div class="section panel-3 services-panel3 dark" data-bg-color="#212121" data-image-src="assets/images/blank.gif">

    <!--Service Carousel Start-->
    <div class="owl-carousel full-carousel-wrapper">

        <!--Service Title Start-->
        <div class="carousel-item carousel-title" data-image-src="assets/images/upload/service-panel-3-bg-image.jpg">
            <div class="carousel-inner title">

                <!--Carousel Block Title Start-->
                <div class="carousel-block-title">
                    <h1>Services</h1>
                    <div></div>
                </div>
                <!--Carousel Block Title End-->

            </div>
            <div class="overlay" data-bg-color="#313131" data-opacity="0.5"></div>
        </div>
        <!--Service Title End-->

        <!--Service 1 Start-->
        <div class="carousel-item" data-bg-color="#fff" data-image-src="assets/images/blank.gif">
            <div class="carousel-inner item">
                <div class="service-item">
                    <a href="#">
                        <div class="box-icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </a>
                    <h2>Nullam sit amet</h2>
                    <div class="item-list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris magna, lacinia ac purus rutrum bibendum leo amet nibh eu odio ornare laoreet.</div>
                    <div class="button raised dark-grey ripple">
                        <a href="#">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Service 1 End-->

        <!--Service 2 Start-->
        <div class="carousel-item" data-bg-color="#00838f" data-image-src="assets/images/blank.gif">
            <div class="carousel-inner item">
                <div class="service-item dark">
                    <a href="#">
                        <div class="box-icon">
                            <i class="fa fa-bicycle"></i>
                        </div>
                    </a>
                    <h2>Duis imperdiet est</h2>
                    <div class="item-list-description" data-color="#fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris magna, lacinia ac purus rutrum bibendum leo amet nibh eu odio ornare laoreet.</div>
                    <div class="button raised dark-grey ripple">
                        <a href="#">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Service 2 End-->

        <!--Service 3 Start-->
        <div class="carousel-item" data-bg-color="#313131" data-image-src="assets/images/blank.gif">
            <div class="carousel-inner item">
                <div class="service-item dark">
                    <a href="#">
                        <div class="box-icon">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                    </a>
                    <h2>Suspendisse mattis</h2>
                    <div class="item-list-description" data-color="#fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris magna, lacinia ac purus rutrum bibendum leo amet nibh eu odio ornare laoreet.</div>
                    <div class="button raised dark-grey ripple">
                        <a href="#">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Service 3 End-->

        <!--Service 4 Start-->
        <div class="carousel-item" data-bg-color="#fff" data-image-src="assets/images/blank.gif">
            <div class="carousel-inner item">
                <div class="service-item">
                    <a href="#">
                        <div class="box-icon">
                            <i class="fa fa-folder-open-o"></i>
                        </div>
                    </a>
                    <h2>Maecenas a mauris</h2>
                    <div class="item-list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris magna, lacinia ac purus rutrum bibendum leo amet nibh eu odio ornare laoreet.</div>
                    <div class="button raised dark-grey ripple">
                        <a href="#">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Service 4 End-->

        <!--Service 5 Start-->
        <div class="carousel-item" data-bg-color="#007277" data-image-src="assets/images/blank.gif">
            <div class="carousel-inner item">
                <div class="service-item dark">
                    <a href="#">
                        <div class="box-icon">
                            <i class="fa fa-motorcycle"></i>
                        </div>
                    </a>
                    <h2>Vivamus consequat</h2>
                    <div class="item-list-description" data-color="#fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris magna, lacinia ac purus rutrum bibendum leo amet nibh eu odio ornare laoreet.</div>
                    <div class="button raised dark-grey ripple">
                        <a href="#">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Service 5 End-->

    </div>
    <!--Service Carousel End-->

    <!--Custom Navigation-->
    <div class="carousel-nav">
        <div class="btn prev"><i class="fa fa-chevron-left"></i></div>
        <div class="btn next"><i class="fa fa-chevron-right"></i></div>
    </div>
    <!--End-->

</div>
<!--Panel-3 Services Panel Style 3 End-->