<!--Home Blog Panel Start-->
<div class="section panel-5 panel-twitter" data-midnight="darkColor" data-bg-color="#f7f7f7">
    <div class="group-wrapper">
        <div class="container">
            <div class="row">

                <!--Block Title-->
                <div class="block-title">
                    <h1>Twitter</h1>
                </div>
                <!--End-->


                <div class="container">
                    <!--Carousel Items Start-->
                    <div id="twitterBlog"  class="owl-carousel box-carousel-wrapper">

                    </div>
                    <!--Carousel Items End-->

                </div>

            </div>
        </div>
    </div>

    <!--More Item Link-->
    <div class="more-item-link">
        <a href="#">All Articles</a>
    </div>
    <!--End-->

    <div class="overlay" data-bg-color="#474747" data-opacity="0.3"></div>
</div>
<!--Home Blog Panel End-->