<!--Panel-1 Video Background Panel Start-->
<div class="section panel-1 video-background" data-bg-color="#212121" data-image-src="assets/images/blank.gif">

    <!--Top Social Media-->
    <div class="social-media">
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <!--End-->

    <div class="mouse-scroll">
        <a id="moveSectionDown" href="#">
            <img src="assets/images/mouse-scroll.png" alt="mouse scroll" />
        </a>
    </div>

    <!--Video Container-->
    <div class="myVideo" data-image-src="assets/images/upload/video-bg-image-small-devices.jpg">
        <video autoplay loop muted controls>
            <source src="assets/media/video/avangard.mp4" type="video/mp4">
            <source src="assets/media/video/my-video.webm" type="video/webm">
        </video>
    </div>
    <!--End-->



    <!--Video Caption-->
    <div class="video-caption">
        <h1 class="slide-extralarge-title animate-fadeInDown">Wizard</h1>
        <div class="slide-description-small animate-fadeInDown">Vestibulum ante ipsum primis. Duis at lectus quis<br>Duis interdum sem sed semper arcu</div>
    </div>
    <!--End-->

    <div class="overlay" data-bg-color="#212121" data-opacity="0.4"></div>

</div>
<!--Panel-1 Video Background Panel End-->