<!--Panel-3 Services Panel Style 3 Start-->
<div class="section panel-3 panel-youtube dark" data-bg-color="#212121" data-image-src="assets/images/upload/panel-bg-image03.jpg">
   <div class="group-wrapper">
      <div class="container">
         <div class="row">
               <!--Block Title-->
               <div class="block-title">
                  <h1>Youtube</h1>
               </div>
               <!--End-->

         </div>

            <div>
               <div id="video-main" style="max-width: 800px; height: 443px; text-align: center;margin: 0 auto;">
                  <iframe width="100%" height="100%"  src="" frameborder="0"></iframe>
               </div>
            </div>
            <div id="video-thumb" class="owl-carousel box-carousel-wrapper">
            </div>

      </div>
   </div>

   <!--More Item Link-->
   <div class="more-item-link">
      <a href=""></a>
   </div>
   <!--End-->

</div>
<!--Panel-3 Services Panel Style 3 End-->