<!--Panel-3 Services Panel Style 3 Start-->
<div class="section panel-3 services-panel3 dark" data-bg-color="#212121" data-image-src="assets/images/blank.gif">
   <div class="group-wrapper">
      <div class="container">
         <div class="row">

            <div class="inner-wrapper">

               <!--Block Title-->
               <div class="block-title">
                  <h1>Трансляции</h1>
               </div>
               <!--End-->

            </div>

            <div class="animate-fadeInUp">
               <div style="width:100%;text-align: center">
                  <iframe width="800" height="443"  src="https://www.youtube.com/embed/videoseries?list=PLagHeXKVfqd3IJ0KAADG8bYNItkjbFlzp" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>
            </div>

         </div>
      </div>
   </div>

   <!--More Item Link-->
   <div class="more-item-link">
      <a href="https://www.youtube.com/channel/UCjHHzZ7KcWwej-W_7B0NskA">Все видео</a>
   </div>
   <!--End-->

</div>
<!--Panel-3 Services Panel Style 3 End-->