<!--Single portfolio item nine-->
<section class="single-items center-block parallax contact-us-sec" style="background: url(/assets/parallax/img/single-portfolio9.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 contact-details text-center text-lg-left">
                <div class="location-details">
                    <h4 class="contact-heading">MegaOne <strong>Office</strong></h4>
                    <p class="contact-address">123 Stree New York City , United States Of America.</p>
                    <ul class="contact-list">
                        <li><span>Office Telephone :</span> 001 01085379709</li>
                        <li><span>Mobile :</span> 001 63165370895</li>
                        <li><span>Email :</span> admin@website.com</li>
                        <li><span>Inquiries :</span> email@website.com</li>
                        <li><span>Mon-Fri:</span> 9am to 6pm</li>
                    </ul>
                    <ul class="slider-social contact-s-media">
                        <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="lab la-facebook-f"></i> </a> </li>
                        <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="lab la-twitter"></i> </a> </li>
                        <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="lab la-google-plus-g"></i> </a> </li>
                        <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="lab la-linkedin-in"></i> </a> </li>
                        <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i class="lab la-instagram"></i> </a> </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>