<!--Single portfolio item one-->
<section class="single-items slider-items p-0" id="home">
    <div class="item slider-inner center-block parallax m-0" style="background: url(/assets/parallax/img/single-portfolio1.jpg);height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 center-col">
                    <div class="area-heading text-center text-lg-left wow fadeInUp">
                        <h3 class="area-title text-capitalize alt-font text-white mb-2 font-weight-100">
                            <strong>Creative </strong>Studio</h3>
                        <p class="text-white font-weight-300">Lorem ipsum is simply dummy text of the printing and typesetting industry with dummmy text. Graphics, Designing, Branding, Development</p>
                        <a class="btn btn-transparent-white btn-rounded btn-rounded btn-large mt-3" href="#services">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>