<!--portfolio without parallax-->
<section class="portfolio" id="portfolio-area">
    <!--Projects content start-->
    <div id="project-sec" class="project-sec">
        <div class="projects owl-carousel owl-theme no-gutters">
            <div class="item project-area">
                <div class="project-img order-1">
                    <img src="/assets/parallax/img/single-portfolio5.jpg" alt="images">
                </div>
                <div class="container">
                    <div class="project-detail text-center text-lg-left order-2">
                        <div class="row no-gutters">
                            <div class="col-10 offset-1 offset-lg-0 col-lg-4 animate-fade">
                                <!--                            <p class="project-sub-heading"><span></span>Most flexible one Page</p>-->
                                <h6 class="project-heading">Make A Unique Portfolio.</h6>
                                <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere nisi est, sed ullamcorper nibh volutpat at. In rutrum, tellus lacus faucibus lectus, sed cursus eros ligula non odio.</p>
                                <a class="btn btn-transparent-white rounded-pill fancybox" data-fancybox="group-six" href="/assets/parallax/img/single-portfolio5.jpg">
                                    LAUNCH PROJECT
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item project-area">
                <div class="project-img order-1">
                    <img src="/assets/parallax/img/p1.jpg" alt="images">
                </div>
                <div class="container">
                    <div class="project-detail text-center text-lg-left order-2">
                        <div class="row no-gutters">
                            <div class="col-10 offset-1 offset-lg-0  col-lg-4 animate-fade">
                                <!--                            <p class="project-sub-heading"><span></span>Most flexible one Page</p>-->
                                <h6 class="project-heading">Amazing Art Work Studio.</h6>
                                <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere nisi est, sed ullamcorper nibh volutpat at. In rutrum,tellus lacus faucibus lectus, sed cursus eros ligula non odio.</p>
                                <a class="btn btn-transparent-white rounded-pill" data-fancybox="group-six" href="/assets/parallax/img/p1.jpg">
                                    LAUNCH PROJECT
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item project-area">
                <div class="project-img order-1">
                    <img src="/assets/parallax/img/p2.jpg" alt="images">
                </div>
                <div class="container">
                    <div class="project-detail text-center text-lg-left order-2">
                        <div class="row no-gutters">
                            <div class="col-10 offset-1 offset-lg-0  col-lg-4 animate-fade">
                                <!--                            <p class="project-sub-heading color-black"><span class="bg-black" style="background-color:black;"></span>Most flexible one Page</p>-->
                                <h6 class="project-heading">Animated Gallery Work.</h6>
                                <p class="project-text text-onblue-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere nisi est, sed ullamcorper nibh volutpat at. In rutrum,tellus lacus faucibus lectus, sed cursus eros ligula non odio.</p>
                                <a class="btn btn-transparent-white rounded-pill" data-fancybox="group-six" href="/assets/parallax/img/p2.jpg">
                                    LAUNCH PROJECT
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item project-area">
                <div class="project-img order-1">
                    <img src="/assets/parallax/img/p3.jpg" alt="images">
                </div>
                <div class="container">
                    <div class="project-detail text-center text-lg-left order-2">
                        <div class="row no-gutters">
                            <div class="col-10 offset-1 offset-lg-0  col-lg-4 animate-fade">
                                <!--                            <p class="project-sub-heading"><span></span>Most flexible one Page</p>-->
                                <h6 class="project-heading color-black">Innovation through Designs.</h6>
                                <p class="project-text color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere nisi est, sed ullamcorper nibh volutpat at. In rutrum, tellus lacus faucibus lectus, sed cursus eros ligula non odio.</p>
                                <a class="btn btn-transparent-black rounded-pill" data-fancybox="group-six" href="/assets/parallax/img/p3.jpg">
                                    LAUNCH PROJECT
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="project-links d-none d-md-block">
                <a class="customPrevBtn"><i class="las la-arrow-left"></i></a>
                <a class="customNextBtn"><i class="las la-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <!--Projects content end-->
</section>
<!--portfolio without parallax-->