<!--Single portfolio item six-->
<section class="single-items center-block parallax pricing-sec" id="pricing" style="background: url(/assets/parallax/img/single-portfolio6.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 center-col col-lg-6 offset-lg-6">
                <div class="row no-gutters">
                    <div class="col-12 center-col">
                        <div class="area-heading text-center wow fadeInRight">
                            <h3 class="area-title text-capitalize alt-font text-white mb-5 font-weight-100">
                                Our <strong>Pricing</strong>
                            </h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pricing-card text-center">
                        <div class="price-card">
                            <header>
                                <h4 class="pricing-heading">Standard</h4>
                            </header>
                            <div class="pricing-body">
                                <p class="pricing-detail">Lorem dolor sit amet, consectetur adipiscing elit.</p>
                                <h6 class="price-text">$56<span>/ Month</span></h6>
                                <ul class="pricing-features">
                                    <li>Full Access</li>
                                    <li>Unlimited Bandwidth</li>
                                    <li>Email Accounts</li>
                                    <li>8 Free Forks Every Month</li>
                                </ul>
                            </div>
                            <footer>
                                <a class="btn btn-transparent-white btn-rounded pricing-btn" href="#">Buy Now</a>
                            </footer>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pricing-card text-center">
                        <div class="price-card">
                            <header>
                                <h4 class="pricing-heading">Premium</h4>
                            </header>
                            <div class="pricing-body">
                                <p class="pricing-detail">Lorem dolor sit amet, consectetur adipiscing elit.</p>
                                <h6 class="price-text">$56<span>/ Month</span></h6>
                                <ul class="pricing-features">
                                    <li>Full Access</li>
                                    <li>Unlimited Bandwidth</li>
                                    <li>Email Accounts</li>
                                    <li>8 Free Forks Every Month</li>
                                </ul>
                            </div>
                            <footer>
                                <a class="btn btn-transparent-white btn-rounded pricing-btn" href="#">Buy Now</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>