<!--Single portfolio item seven-->
<section class="single-items center-block item-seven parallax testimonial-sec" id="reviews" style="background: url(/assets/parallax/img/single-portfolio7.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 text-center review-box">
                <div class="row no-gutters slick-test">
                    <div class="reviews item">
                        <div class="review-body">
                            <p class="user-comment">Click edit button to change this text. Lorem dolor sit amet, sit consectetur  elit. amet, for  adipiscing elit. amet, consect adipiscing elit.</p>
                            <p class="comment-date">19-dec-2020</p>
                            <ul class="review-stars">
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                            </ul>
                        </div>
                        <div class="user-img"><img src="/assets/parallax/img/review.jpg" class="rounded-circle" alt="img"></div>
                        <h4 class="user-name">Mickal Devid</h4>
                        <p class="user-designation">- Web Designer -</p>
                    </div>
                    <div class="reviews item">
                        <div class="review-body">
                            <p class="user-comment">Edit button to change this text. Lorem dolor sit amet, sit consectetur  elit. amet, for  adipiscing elit. amet, consect adipiscing elit.</p>
                            <p class="comment-date">19-dec-2020</p>
                            <ul class="review-stars">
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                            </ul>
                        </div>
                        <div class="user-img"><img src="/assets/parallax/img/rev.jpg" class="rounded-circle" alt="img"></div>
                        <h4 class="user-name">Mickal Devid</h4>
                        <p class="user-designation">- Web Designer -</p>
                    </div>
                    <div class="reviews item">
                        <div class="review-body">
                            <p class="user-comment">Edit with button to change this text. Lorem dolor sit amet, sit consectetur  elit. amet, for  adipiscing elit. amet, consect adipiscing elit.</p>
                            <p class="comment-date">19-dec-2020</p>
                            <ul class="review-stars">
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                                <li><a href="#"><i class="las la-star"></i></a></li>
                            </ul>
                        </div>
                        <div class="user-img"><img src="/assets/parallax/img/rev1.jpg" class="rounded-circle" alt="img"></div>
                        <h4 class="user-name">Mickal Devid</h4>
                        <p class="user-designation">- Web Designer -</p>
                    </div>
                </div>
                <a class="navigate-btn prev-review-btn"><span class="fly-line"></span>Prev <i class="las la-arrow-right"></i> </a>
                <a class="navigate-btn next-review-btn"><span class="fly-line"></span>Next <i class="las la-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>