<!--Single portfolio item two-->
<section class="single-items center-block parallax services-area" id="services" style="background: url(/assets/parallax/img/single-portfolio2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6"></div>
            <div class="col-12 col-lg-6 center-col">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 d-inline-block d-lg-flex justify-content-center align-items-center">
                        <div class="feature-item text-center text-md-left">
                            <i class="las la-graduation-cap f-icon"></i>
                            <h5 class="title">Development</h5>
                            <p>Simply dummy text of the print has been standard.</p>
                            <a href="javascript:void(0);" class="las la-arrow-right r-icon"></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="feature-item text-center text-md-left">
                            <i class="lab la-bitbucket f-icon"></i>
                            <h5 class="title">Development</h5>
                            <p>Simply dummy text of the print has been standard.</p>
                            <a href="javascript:void(0);" class="las la-arrow-right r-icon"></a>
                        </div>
                        <div class="feature-item text-center text-md-left">
                            <i class="las la-cart-arrow-down f-icon"></i>
                            <h5 class="title">Development</h5>
                            <p>Simply dummy text of the print has been standard.</p>
                            <a href="javascript:void(0);" class="las la-arrow-right r-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>