<!--Single portfolio item four-->
<section class="single-items center-block parallax counter-sec" id="social" style="background: url(/assets/parallax/img/single-portfolio4.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-6">
                <!--Counters Area-->
                <div class="row counter-area">
                    <!-- Counter Item-->
                    <div class="col-6 col-lg-4 text-center count-box">
                        <div class="counters">
                            <i class="las la-building c-icon"></i>
                            <!-- Content -->
                            <div class="content">
                                <h4 class="m-0"><span class="count">35M</span></h4>
                                <p>Customers</p>
                            </div>
                        </div>
                    </div>
                    <!-- Counter Item-->
                    <div class="col-6 col-lg-4 text-center count-box">
                        <div class="counters">
                            <i class="las la-calculator c-icon"></i>
                            <!-- Content -->
                            <div class="content">
                                <h4 class="m-0"><span class="count">70K</span></h4>
                                <p>Projects</p>
                            </div>
                        </div>
                    </div>
                    <!-- Counter Item-->
                    <div class="col-6 col-lg-4 text-center count-box">
                        <div class="counters">
                            <i class="lab la-pagelines c-icon"></i>
                            <!-- Content -->
                            <div class="content">
                                <h4 class="m-0"><span class="count">70K</span></h4>
                                <p>Projects</p>
                            </div>
                        </div>

                    </div>
                    <!-- Counter Item-->
                    <div class="col-6 col-lg-4 offset-lg-2 text-center count-box">
                        <div class="counters">
                            <i class="las la-calculator c-icon"></i>
                            <!-- Content -->
                            <div class="content">
                                <h4 class="m-0"><span class="count">70K</span></h4>
                                <p>Projects</p>
                            </div>
                        </div>
                    </div>
                    <!-- Counter Item-->
                    <div class="col-12 col-lg-6 offset-lg-0 text-center text-lg-left count-box">
                        <div class="counters text-center">
                            <i class="lab la-pagelines c-icon"></i>
                            <!-- Content -->
                            <div class="content">
                                <h4 class="m-0"><span class="count">70K</span></h4>
                                <p>Projects</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>