<!-- About Section Starts -->
<section>
    <!-- About Title Starts -->
    <div class="bl-box valign-wrapper">
        <div class="page-title center-align">
            <h2 class="center-align">
                <span data-hover="W3">W3</span>
                <span data-hover="stack">stack</span>
            </h2>
        </div>
    </div>
    <!-- About Title Ends -->
    <!-- About Expanded Starts -->
    <div class="bl-content">
        <!-- Main Heading Starts -->
        <div class="container page-title custom-page-title">
            <h2 class="center-align">
                <span>W3</span>
                <span>stack</span>
            </h2>
        </div>
        <!-- Main Heading Ends -->
        <div class="container infos">

        </div>
        <!-- Resume Starts -->
        <div class="resume-container">
            <div class="container">
                <div class="valign-wrapper row">
                    <!-- Resume Menu Starts -->
                    <div class="resume-list col l4 section-padding">
                        <div class="resume-list-item is-active" data-index="0" id="resume-list-item-0">
                            <div class="resume-list-item-inner">
                                <h6 class="resume-list-item-title uppercase"><i class="fa fa-file-code-o"></i> JAMstack</h6>
                            </div>
                        </div>
                        <div class="resume-list-item" data-index="1" id="resume-list-item-1">
                            <div class="resume-list-item-inner">
                                <h6 class="resume-list-item-title uppercase"><i class="fa fa-code-fork"></i> API</h6>
                            </div>
                        </div>
                        <div class="resume-list-item" data-index="2" id="resume-list-item-2">
                            <div class="resume-list-item-inner">
                                <h6 class="resume-list-item-title uppercase"><i class="fa fa-cogs"></i> Generators</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Resume Menu Ends -->
                    <!-- Resume Content Starts -->
                    <div class="col s12 m12 l8 resume-cards-container section-padding">
                        <div class="resume-cards">
                            <!-- Experience Starts -->
                            <div class="resume-card resume-card-0" data-index="0">
                                <!-- Experience Header Title Starts -->
                                <div class="resume-card-header">
                                    <div class="resume-card-name"><i class="fa fa-file-code-o"></i> JAMstack</div>
                                </div>
                                <!-- Experience Header Title Ends -->
                                <!-- Experience Content Starts -->
                                <div class="resume-card-body experience">
                                    <div class="resume-card-body-container second-font">
                                        <!-- Single Experience Starts -->
                                        <div class="resume-content">
                                            <h6 class="uppercase"><span>JAM - </span>JavaScript + API + Markup</h6>
                                            <p>The <abbr title="JavaScript, API, Markup">JAM</abbr>stack is not about specific technologies. It’s a new way of building websites and apps that delivers better performance, higher security, lower cost of scaling, and a better developer experience.</p>
                                            <p>
                                                Pre-rendered sites can be enhanced with JavaScript and the growing capabilities of browsers and services available via APIs.
                                            </p>
                                            <p>
                                                Static sites might be built using sites built by hand, or with Jekyll, Hugo, Nuxt, Next, Gatsby, or another static site generator.
                                            </p>
                                            <p>
                                                If you can use it on the web, you can probably build it with the Jamstack. Millions already do.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Experience Content Starts -->
                            </div>
                            <!-- Experience Ends -->
                            <!-- Education Starts -->
                            <div class="resume-card resume-card-1" data-index="1">
                                <!-- Education Header Title Starts -->
                                <div class="resume-card-header">
                                    <div class="resume-card-name"><i class="fa fa-code-fork"></i> API</div>
                                </div>
                                <!-- Education Header Title Starts -->
                                <div class="resume-card-body education">
                                    <div class="resume-card-body-container second-font">
                                        <!-- Single Education Starts -->
                                        <div class="resume-content">
                                            <h6 class="uppercase"><span>Better Performance - </span>pre-built files</h6>
                                            <p>Why wait for pages to build on the fly when you can generate them at deploy time?</p>
                                        </div>
                                        <!-- Single Education Ends -->
                                        <span class="separator"></span>
                                        <!-- Single Education Starts -->
                                        <div class="resume-content">
                                            <h6 class="uppercase"><span>Higher Security - </span>no server-side processes</h6>
                                            <p>With server-side processes abstracted into microservice APIs, surface areas for attacks are reduced. </p>
                                        </div>
                                        <!-- Single Education Ends -->
                                        <span class="separator"></span>
                                        <!-- Single Education Starts -->
                                        <div class="resume-content">
                                            <h6 class="uppercase"><span>Cheaper  - </span>Easier Scaling</h6>
                                            <p>When your deployment amounts to a stack of files that can be served anywhere, scaling is a matter of serving those files in more places.</p>
                                        </div>
                                        <!-- Single Education Ends -->
                                    </div>
                                </div>
                            </div>
                            <!-- Education Ends -->
                            <!-- Skills Starts -->
                            <div class="resume-card resume-card-2" data-index="2">
                                <!-- Skills Header Title Starts -->
                                <div class="resume-card-header">
                                    <div class="resume-card-name"><i class="fa fa-cogs"></i> Generators</div>
                                </div>
                                <!-- Skills Header Title Starts -->
                                <div class="resume-card-body skills">
                                    <div class="resume-card-body-container second-font">
                                        <div class="row">
                                            <!-- Skills Row Starts -->
                                            <div class="col s6">
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Gatsby</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Hugo</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Jekyll</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Next.js</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">VuePress</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Pelican</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                            </div>
                                            <!-- Skills Row Ends -->
                                            <!-- Skills Row Starts -->
                                            <div class="col s6">
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Slate</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">WP2Static</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> <i class="fa fa-star-o"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Sapper.js</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Hexo</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">Gridsome</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                                <!-- Single Skills Starts -->
                                                <div class="resume-content">
                                                    <h6 class="uppercase">MkDocs</h6>
                                                    <p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> <i class="fa fa-star-o"></i></p>
                                                </div>
                                                <!-- Single Skills Ends -->
                                            </div>
                                            <!-- Skills Row Ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Skills Ends -->
                        </div>
                    </div>
                    <!-- Resume Content Ends -->
                </div>
            </div>
        </div>
        <!-- Resume Ends -->
    </div>
    <!-- End Expanded About -->
    <img alt="close" src="images/close-button.png" class="bl-icon-close" />
</section>
<!-- About Ends -->