<!-- Portfolio Starts -->
<section id="bl-work-section">
    <!-- Portfolio Title Starts -->
    <div class="bl-box valign-wrapper">
        <div class="page-title center-align">
            <h2 class="center-align">
                <span data-hover="Dom">Dom </span>
                <span data-hover="products">products</span>
            </h2>
        </div>
    </div>
    <!-- Portfolio Title Ends -->
    <!-- Portfolio Expanded Starts -->
    <div class="bl-content">
        <!-- Main Heading Starts -->
        <div class="container page-title center-align">
            <h2 class="center-align">
                <span data-hover="Dom">Dom </span>
                <span data-hover="products">products</span>
            </h2>
        </div>
        <!-- Main Heading Ends -->
        <div class="container">
            <!-- Divider Starts -->
            <div class="divider center-align">
                <span class="outer-line"></span>
                <span class="fa fa-suitcase" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <div class="row center-align da-thumbs" id="bl-work-items">
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-1">
                    <a href="#">
                        <img class="responsive-img" src="images/projects/default.jpg" alt="default" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Social Networking</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-2">
                    <a href="#">
                        <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="Project" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Slider Project</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-3">
                    <a href="#">
                        <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="Project" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Youtube Video</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-4">
                    <a href="#">
                        <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="Project" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Local Video</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-5">
                    <a href="#">
                        <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="Project" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Image Project</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-6">
                    <a href="#">
                        <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="Project" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Image Project</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-7">
                    <a href="#">
                        <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="Project" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Image Project</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-8">
                    <a href="#">
                        <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="Project" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Image Project</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
                <!-- Project Starts -->
                <div class="col s12 m6 l6 xl4" data-panel="panel-9">
                    <a href="#">
                        <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="Project" />
                        <div class="valign-wrapper"><span class="font-weight-700 uppercase">Image Project</span></div>
                    </a>
                </div>
                <!-- Project Ends -->
            </div>
        </div>
    </div>
    <!-- Portfolio Expanded Ends -->
    <img alt="close" src="images/close-button.png" class="bl-icon-close" />
</section>
<!-- Portfolio Section Ends -->