<!-- Top Left Section Starts -->
<section class="topleft">
    <div class="bl-box row valign-wrapper">
        <div class="row valign-wrapper mb-0">
            <div class="title-heading">
                <div class="selector uppercase" id="selector">
                    <h3 class="ah-headline p-none m-none">
                        <span class="font-weight-400">Standards start here!</span>
                        <span class="my-name">w3dom.com</span>
                        <span class="ah-words-wrapper">
										<b class="is-visible">HTML5</b>
										<b>CSS3</b>
										<b>Java Script</b>
									</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Left Section Ends -->