<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="author" content="w3dom">
    <meta name="description" content="Uniqo is a Social Network Aggregator HTML template, using most popular design trends as HTML5, CSS3 and jQuery.">
    <meta name="keywords" content="creative, modern, clean, html5, css3, one page, corporate, start-up, studio, branding, parallax, photography, personal">
    <title>Uniqo - Social Network Aggregator</title>
    <link href="/favicon.ico" rel="icon">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/jquery.pagepiling.css" rel="stylesheet">
    <link href="/assets/js/vendor/tabulous/tabulous.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="/assets/css/swiper.min.css" rel="stylesheet">
    <link href="/assets/css/slick.css" rel="stylesheet">
    <link href="/assets/css/slick-theme.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>