<label class="morphing-menu">
    <input type='checkbox'>
    <span class='menu'> <span class='hamburger'></span> </span>
    <ul id="nav-menu">
        <li data-menuanchor="#section1"> <a href='#section1'>Home</a> </li>
        <li data-menuanchor="#section2"> <a href='#section2'>About</a> </li>
        <li data-menuanchor="#section3"> <a href='#section3'>Youtube</a> </li>
        <li data-menuanchor="#section4"> <a href='#section4'>Twitter</a> </li>
        <li data-menuanchor="#section5"> <a href='#section4'>Instagram</a> </li>
    </ul>
</label>