<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title></title>
    <!--CSS Reset-->
    <link href="assets/css/reset.css" rel="stylesheet" type="text/css">
    <!--Bootstrap Grid System-->
    <link href="assets/css/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <!--OWL Carousel CSS-->
    <link href="assets/js/vendor/owlcarousel/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/js/vendor/pagepiling/jquery.pagepiling.min.css" rel="stylesheet" type="text/css">
    <!--jQuery Fullpage CSS-->
    <link href="assets/css/jquery.fullPage.css" rel="stylesheet" type="text/css">
    <!--<link href="assets/css/jquery.fullPage.css" rel="stylesheet" type="text/css">-->
    <!--Tabulous CSS-->
    <link href="assets/js/vendor/tabulous/tabulous.css" rel="stylesheet" type="text/css">
    <!--Color Scheme Setting-->
    <link href="assets/css/color.css" rel="stylesheet" type="text/css">
    <!--Main Elements CSS-->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>