<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title></title>


    <!--CSS Reset-->
    <link href="assets/css/reset.css" rel="stylesheet" type="text/css">

    <!--Bootstrap Element and Grid System-->
    <link href="assets/css/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <!--Bootstrap Element and Grid System-->
    <link href="assets/css/bootstrap-navbar.css" rel="stylesheet" type="text/css">
    <link href="assets/css/navbar.css" rel="stylesheet" type="text/css">

    <!--Main Elements CSS-->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css">



    <!--OWL Carousel CSS-->
    <link href="assets/js/vendor/owlcarousel/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/js/vendor/owlcarousel/assets/owl.theme.default.css" rel="stylesheet" type="text/css">

    <!--FlexSlider CSS
    <link href="assets/js/vendor/FlexSlider/flexslider.css" rel="stylesheet" type="text/css">-->

    <!--Megafolio CSS-->
    <link href="assets/js/vendor/megafolio/css/settings.css" rel="stylesheet" type="text/css">

    <!--FancyBox CSS-->
    <link href="assets/js/vendor/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet" type="text/css">

    <!--jQuery Fullpage CSS-->
    <link href="assets/css/jquery.fullPage.css" rel="stylesheet" type="text/css">

    <!--Tootips CSS
    <link href="assets/js/vendor/tooltipster/css/tooltipster.css" rel="stylesheet" type="text/css">
    <link href="assets/js/vendor/tooltipster/css/themes/tooltipster-shadow.css" rel="stylesheet" type="text/css">-->

    <!--Tabulous CSS-->
    <link href="assets/js/vendor/tabulous/tabulous.css" rel="stylesheet" type="text/css">

    <!--Color Scheme Setting-->
    <link href="assets/css/color.css" rel="stylesheet" type="text/css">

</head>