<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="w3dom">
    <!-- description -->
    <meta name="description" content="Uniqo is a Social Network Aggregator HTML template, using most popular design trends as HTML5, CSS3 and jQuery.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
    <!-- Page Title -->
    <title>MegaOne - Model Agency</title>
    <!-- Favicon -->
    <link href="/assets/parallax/img/favicon.ico" rel="icon">
    <!-- Bundle -->
    <link href="/assets/vendor/css/bundle.min.css" rel="stylesheet">
    <link href="/assets/vendor/css/revolution-settings.min.css" rel="stylesheet">
    <link href="/assets/vendor/css/owl.carousel.min.css" rel="stylesheet">
    <!-- Plugin Css -->
    <link href="/assets/vendor/css/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/parallax/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/parallax/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/parallax/css/slick.css">
    <!-- Style Sheet -->
    <link href="/assets/parallax/css/style.css" rel="stylesheet">
</head>