<!--Main Menu Wrapper Start-->
<div id="main-menu" class="left">

    <!--Menu Burger-->
    <div class="nav-open">
        <a href="#" class="nav-btn" data-action="open">
            <div class="burger-wrap">
                <div class="menu-burger">
                    <div class="menu1"></div>
                    <div class="menu2"></div>
                    <div class="menu3"></div>
                </div>
            </div>
        </a>
    </div>

    <!--Sidebar Navigation Start-->
    <div class="sidebar-nav">
        <div class="nav-inner-wrap">

            <!--Menu Close-->
            <div class="nav-close">
                <a href="#" class="nav-btn" data-action="close">
                    <div class="menu-close">
                        <div class="menu1"></div>
                        <div class="menu2"></div>
                    </div>
                </a>
            </div>

            <!--Logo Start-->
            <div class="logo">
                <a href="index.html">
                    <!--<img src="assets/images/miheev-w.png" alt="logo" />-->
                    <div class="logo-title-wrapper">
                    <h4 class="logo-title">Сергей Михеев</h4>
                    </div>
                    <span class="logo-subtitle">политолог</span>
                </a>
            </div>
            <!--Logo End-->

            <!--Navigation Menu Start-->
            <nav>
                <ul class="nav-menu">
                    <!--<li data-menuanchor="panelBlock1" class="active"><a href="index.html#panelBlock1">В начало</a></li>
                    <li data-menuanchor="panelBlock2"><a href="index.html#panelBlock2">О себе</a></li>
                    <li data-menuanchor="panelBlock3"><a href="index.html#panelBlock3">Трансляции</a></li>
                    <li data-menuanchor="panelBlock4"><a href="index.html#panelBlock4">Фрагменты</a></li>
                    <li data-menuanchor="panelBlock5"><a href="index.html#panelBlock5">Блог</a></li>
                    <li data-menuanchor="panelBlock6"><a href="index.html#panelBlock6">Контакт</a></li>-->
                </ul>
            </nav>
            <!--Navigation Menu End-->

        </div>
    </div>
    <!--Sidebar Navigation End-->

</div>
<!--Main Menu Wrapper End-->