<!-- Start Navbar -->
<nav class="navbar">
    <div id="nav-btn" >
        <!--<span class="navbar-toggler-icon"></span>-->
                        <div class="nav-open">
                            <div class="burger-wrap">
                                <div class="menu-burger">
                                    <div class="menu1"></div>
                                    <div class="menu2"></div>
                                    <div class="menu3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-close">
                            <div class="burger-wrap">
                                <div class="menu-burger">
                                    <div class="menu1"></div>
                                    <div class="menu3"></div>
                                </div>
                            </div>
                        </div>
    </div>
    <!--<a class="navbar-brand" href="#">Navbar</a>-->

    <div class="collapse navbar-collapse right" id="main-menu">
        <ul class="nav-menu"></ul>
    </div>
</nav>
<!-- End Navbar -->