<!--jQuery files-->
<script type="text/javascript" src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/jquery.easings.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/jquery.slimscroll.min.js"></script>
<!--jQuery instagram-->
<script type="text/javascript" src="assets/js/vendor/instagram.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/isInViewport.js"></script>
<!-- Bootstrap --->
<script type="text/javascript" src="assets/js/vendor/bootstrap/util.js"></script>
<script type="text/javascript" src="assets/js/vendor/bootstrap/collapse.js"></script>
<!--jQuery OWL-Carousel-->
<script type="text/javascript" src="assets/js/vendor/owlcarousel/owl.carousel.min.js"></script>
<!--jQuery Fullpage-->
<script type="text/javascript" src="assets/js/vendor/jquery.fullPage.min.js"></script>
<!--jQuery Tabulous-->
<script type="text/javascript" src="assets/js/vendor/tabulous/tabulous.js?v=1.01"></script>
<!--Main js files-->
<script type="text/javascript" src="assets/js/init-config.js"></script>
<!--<script type="text/javascript" src="assets/js/main.js"></script>-->
