<!--jQuery files-->
<script type="text/javascript" src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/jquery.easings.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/jquery.slimscroll.min.js"></script>
<!--jQuery instagram-->
<script type="text/javascript" src="assets/js/vendor/instagram.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/jquery.viewport.js"></script>

<!-- Bootstrap --->
<script type="text/javascript" src="assets/js/vendor/bootstrap/util.js"></script>
<script type="text/javascript" src="assets/js/vendor/bootstrap/collapse.js"></script>

<!--<script src="https://platform.twitter.com/widgets.js"></script>-->

<!--jQuery Retina
<script type="text/javascript" src="assets/js/retina.js"></script>-->


<!--jQuery SideBar-->
<script type="text/javascript" src="assets/js/vendor/jquery.sidebar.min.js"></script>

<!--jQuery FitVids
<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>-->

<!--jQuery OWL-Carousel-->
<script type="text/javascript" src="assets/js/vendor/owlcarousel/owl.carousel.min.js"></script>

<!--jQuery FlexSlider
<script type="text/javascript" src="assets/js/vendor/FlexSlider/jquery.flexslider.js"></script>-->

<!--jQuery Megafolio
<script type="text/javascript" src="assets/js/vendor/megafolio/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/megafolio/js/jquery.themepunch.megafoliopro.min.js"></script>-->

<!--jQuery FancyBox
<script type="text/javascript" src="assets/js/vendor/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>-->

<!--jQuery Fullpage-->
<script type="text/javascript" src="assets/js/vendor/jquery.fullPage.min.js"></script>

<!--jQuery Midnight-->
<script type="text/javascript" src="assets/js/vendor/midnight.jquery.min.js"></script>

<!--jQuery Tooltips
<script type="text/javascript" src="assets/js/vendor/tooltipster/js/jquery.tooltipster.min.js"></script>-->

<!--jQuery Tabulous-->
<script type="text/javascript" src="assets/js/vendor/tabulous/tabulous.js?v=1.01"></script>

<!--Main js files-->
<script type="text/javascript" src="assets/js/init-config.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
