<!-- JavaScript -->
<script src="/assets/vendor/js/bundle.min.js"></script>
<!-- Plugin Js -->
<script src="/assets/vendor/js/jquery.appear.js"></script>
<script src="/assets/vendor/js/jquery.fancybox.min.js"></script>
<script src="/assets/vendor/js/parallaxie.min.js"></script>
<script src="/assets/vendor/js/wow.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="/assets/vendor/js/owl.carousel.min.js"></script>
<script src="/assets/parallax/js/slick.js"></script>
<script src="/assets/parallax/js/slick.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script>
<script src="/assets/parallax/js/map.js"></script>
<!-- custom script -->
<script src="/assets/parallax/js/script.js"></script>