<!--jQuery files-->
<script type="text/javascript" src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/jquery.easings.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/instafeed.js"></script>
<script type="text/javascript" src="assets/js/vendor/isInViewport.js"></script>
<script type="text/javascript" src="assets/js/vendor/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/jquery.fullPage.min.js"></script>
<!--<script type="text/javascript" src="assets/js/vendor/pagepiling/jquery.pagepiling.min.js"></script>-->
<script type="text/javascript" src="assets/js/vendor/tabulous/tabulous.js"></script>
<script type="text/javascript" src="assets/js/vendor/midnight.jquery.min.js"></script>
<!--Main js files-->
<script type="text/javascript" src="assets/js/init-config.js?001"></script>
