#section4 {
  background-size: 30% !important;
  background-position: right 20% top 52% !important;
}
.panel-instagram .container {
  padding: 60px 15px 0px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel-instagram .block-title {
  margin: 58px 0 40px 20px;
}

.panel-instagram .portfolio-tabs-wrapper {
  position: relative;
  background-color: rgba(255,255,255,0);
  z-index: 2;
  margin: 0 0 61px;
}

.panel-instagram .portfolio-tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel-instagram .portfolio-tabs-list li {
  position: relative;
  width: 33.3333%;
  float: left;
}

.panel-instagram .portfolio-tabs-list li img {
  width: 100%;
  height: auto;
}


.panel-instagram .portfolio-tabs {
  margin-top: 100vw;
}

.panel-instagram .portfolio-tabs-detail {
  padding: 60px 40px;
  background-color: #fff;
}

.panel-instagram .portfolio-tabs-img {
  margin: 0;
}

/* === Only Chrome === */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .panel-instagram .portfolio-tabs-img, .panel-instagram .portfolio-tabs-detail {
   margin-top: -17px;
  }
}
/* === END === */

/* === Only Firefox === */
@-moz-document url-prefix() {
  .panel-instagram .portfolio-tabs-img {
    margin-top: -17px;
  }
}
/* === END === */

.panel-instagram .portfolio-tabs-img img {
  width: 100%;
  height: auto;
}

.panel-instagram .portfolio-tabs-list li .thumbnail-hover {
  background-color: rgba(33,33,33,0.3);
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.panel-instagram .portfolio-tabs-list li:hover .thumbnail-hover,
.panel-instagram .portfolio-tabs-list li a.tabulous_active .thumbnail-hover {
  opacity: 1;
}

.panel-instagram .portfolio-tabs-detail h2 {
  position: relative;
  font-size: 2.1428em;
  font-weight: 400;
  text-transform: uppercase;
  color: #474747;
  line-height: 1.3em;
  margin: 0 0 46px;
  padding: 0 0 16px;
  border-bottom: rgba(224,224,224,1) solid 1px;
}

.panel-instagram .portfolio-tabs-detail h2:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 40px;
  height: 1px;
  margin-bottom: -1px;
  background-color: rgba(71,71,71,1);
}

.panel-instagram .portfolio-tabs-detail .item-list-description {
  margin: 0 0 34px;
  padding-right: 60px;
}

.portfolio-tabs-wrapper.dark .portfolio-tabs-detail h2 {
  color: #fff;
  border-bottom: rgba(255,255,255,0.4) solid 1px;
}

.portfolio-tabs-wrapper.dark .portfolio-tabs-detail h2:before {
  background-color: rgba(255,255,255,1);
}

@media (min-width: 992px) {
  .panel-instagram .portfolio-tabs-wrapper {
    height: 33.3333vw;
    overflow: hidden;
  }
  .panel-instagram .portfolio-tabs-list {
    width: 33.3333%;
    float: left;
  }
  .panel-instagram .portfolio-detail-wrapper {
    width: 66.6666%;
    float: right;
  }

  .panel-instagram .portfolio-tabs {
    width: 66.6666%;
    display: table;
    margin-top: 0;
  }

  .panel-instagram .portfolio-tabs-img {
    display: table-cell;
    vertical-align: top;
    width: 50%;
  }

  .panel-instagram .portfolio-tabs-detail {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding: 62px 40px;
  }
}

@media (max-width: 990px) {
  .panel-instagram .portfolio-tabs-img, .panel-instagram .portfolio-tabs-detail h2 {
    display: none;
  }
}

@media (max-width: 580px) {
  .panel-instagram .portfolio-tabs-img, .panel-instagram .portfolio-tabs-detail {
    margin-top: 0;
  }
}