<!--Section-1 Video Background Section Start-->
<section class="section panel-hero" id="section1" >
    <div class="hero-header h-video transparent"></div>

    <!--Video Container-->
    <div class="bg-video">
        <video autoplay loop muted controls>
            <source src="/assets/video/City-6383.mp4" type="video/mp4">
            <source src="/assets/video/City-6383.webm" type="video/webm">
        </video>
    </div>
    <!--End-->

    <div class="video-caption">
        <h1 class="slide-extralarge-title">Lorem Ipsum</h1>
        <div class="slide-description-small">dolor sit amet</div>
    </div>

    <div class="overlay" data-bg-color="#212121" data-opacity=".4"></div>
</section>
<!--Section-1 Video Background Section End-->