<div class="row">
    <div class="col s12 l6 xl6 section-padding section-padding-right-none">
        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img class="responsive-img" src="/images/projects/default.jpg" alt="project" ></a>
            <a class="carousel-item" href="#two!"><img class="responsive-img" src="/images/projects/default-1.jpg" alt="project" ></a>
            <a class="carousel-item" href="#three!"><img class="responsive-img" src="/images/projects/default-2.jpg" alt="project" ></a>
            <a class="carousel-item" href="#four!"><img class="responsive-img" src="/images/projects/default-3.jpg" alt="project" ></a>
        </div>
    </div>
    <div class="col s12 l6 xl6 section-padding">
        <ul class="project-details second-font">
            <li><i class="fa fa-calendar-o"></i><span class="font-weight-700"> Created </span>: <span class="font-weight-400 uppercase">02/05/2020</span></li>
            <li><i class="fa fa-calendar-check-o"></i><span class="font-weight-700"> Last Updated </span>: <span class="font-weight-400 uppercase">06/05/2020</span></li>
            <li><i class="fa fa-chrome"></i><span class="font-weight-700"> Compatible Browsers  </span>: <span class="font-weight-400 uppercase">Firefox, Safari, Opera, Chrome, Edge</span></li>
            <li><i class="fa fa-columns"></i> <span class="font-weight-700"> Built With</span> : <span class="font-weight-400 uppercase">Bootstrap 4.x</span></li>
            <li><i class="fa fa-cogs"></i> <span class="font-weight-700"> API Used</span> : <span class="font-weight-400 uppercase">	YouTube, Twitter, Instagram</span></li>
            <li><i class="fa fa-money"></i> <span class="font-weight-700"> Price</span> : <span class="font-weight-400 uppercase">	$16</span></li>
        </ul>

        <a href="/default" target="_blank" class="btn back font-weight-700">Preview <i class="fa fa-external-link"></i></a>
        <button style="margin-top: 20px;" class="snipcart-add-item btn back font-weight-700"
                data-item-id="ubiquitous"
                data-item-file-guid="41d28122-6c42-4334-a730-711b708d150b"
                data-item-price="16.00"
                data-item-url="/templates/ubiquitous"
                data-item-description="Social Network Aggregator HTML template, using most popular design trends as HTML5, CSS3 and jQuery."
                data-item-image="https://w3dom.com/images/projects/default.jpg"
                data-item-name="Ubiquitous">
            Add to cart <i class="fa fa-shopping-cart"></i>
        </button>

    <div class="blog-excerpt second-font">
        <p>Ubiquitous is a Social Network Aggregator HTML template, using most popular design trends as HTML5, CSS3 and jQuery. The template have fullpage scroll function and separate panel sections, so you can create various styles of page to suit your needs.</p>
        <p>In fact, this is not a template, but a ready-made web application. Just edit one configuration file to get your site ready for publication.</p>
        <p>Ubiquitous designed to help companies and individuals improve engagement with their brands by creating aggregated social streams that can be embedded into an existing website and customized to look visually intrinsic to the site. This allows potential customers to interact with all the social media posts maintained by the brand without requiring them to jump from site to site.</p>
    </div>
    </div>
</div>
