<!--Section-5 Flickr Panel Start-->
<section class="section panel-flickr svg" id="section5" data-bg-color="#373737">
    <div id="content-scroll">
        <div class="flickr-header">
            <!--Block Title-->
            <div class="block-title">
                <div class="line-before"></div>
                <h2>Flickr</h2>
                <div class="line-after"></div>
            </div>
            <!--End-->
        </div>
        <!-- Showcase Holder -->
        <div id="showcase-holder">
            <div id="showcase-tilt-wrap">
                <div id="showcase-tilt">
                    <div id="showcase-slider" class="flickr-container">
                        <div class="swiper-wrapper">


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="GLAMOUR QUEEN" data-subtitle="Photography" data-number="01">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/01hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="ATHLETE CLASS" data-subtitle="Photography" data-number="02">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/02hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->



                            <!-- Section Slide -->
                            <div class="swiper-slide bg-video" data-title="GOTI SAAB" data-subtitle="Video" data-number="03">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/03hero.jpg">
                                    </div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="LADY IN WHITE" data-subtitle="Design" data-number="04">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/04hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="CREATIVE FUTURE" data-subtitle="Design" data-number="05">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/05hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="ANTIQUE CHOICE" data-subtitle="Photography" data-number="06">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/06hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="KALASHAKALA" data-subtitle="Design" data-number="07">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/07hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="WILD LIFE" data-subtitle="Photography" data-number="08">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/08hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="FOREST HOUSE" data-subtitle="Architecture" data-number="09">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/09hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->


                            <!-- Section Slide -->
                            <div class="swiper-slide" data-title="DRAMA QUEEN" data-subtitle="Photography" data-number="10">
                                <div class="img-mask">
                                    <div class="section-image" data-src="/assets/images/img/10hero.jpg"></div>
                                </div>
                                <a class="showcase-link-project" data-type="page-transition" href="#"></a>
                            </div>
                            <!--/Section Slide -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="showcase-pagination-wrap">
                <div class="showcase-counter">
                    <span data-total="10"></span>
                </div>
                <div class="showcase-pagination"></div>
                <div class="caption-border left"></div>
                <div class="caption-border right"></div>
                <div class="arrows-wrap ">
                    <div class="prev-wrap animated-wrap"><div class="swiper-button-prev swiper-button-white parallax-element animated-element"></div></div>
                    <div class="next-wrap animated-wrap"><div class="swiper-button-next swiper-button-white parallax-element animated-element"></div></div>
                </div>
            </div>
        </div>
        <!-- Showcase Holder -->

        <!-- swiper thumbnails -->
        <div class="swiper-thumbnails link">
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb1.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb2.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb3.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb4.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb5.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb6.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb7.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb8.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb9.jpg" alt="img"> </button>
            <button class="bullet"><img src="/assets/images/img/portfolio-thumb10.jpg" alt="img"> </button>
        </div>
        <!-- swiper thumbnails -->

    </div>
</section>
<!--Section-5 Flickr Panel End-->