<label class="morphing-menu">
    <input type='checkbox'>
    <span class='menu'> <span class='hamburger'></span> </span>
   <!-- <ul id="nav-menu">
        <li data-menuanchor="#section1"> <a href='#section1'>Home</a> </li>
        <li data-menuanchor="#section2"> <a href='#section2'>About</a> </li>
        <li data-menuanchor="#section3"> <a href='#section3'>TikTok</a> </li>
        <li data-menuanchor="#section4"> <a href='#section4'>Telegram</a> </li>
        <li data-menuanchor="#section5"> <a href='#section5'>Flickr</a> </li>
        <li data-menuanchor="#section6"> <a href='#section6'>Contact</a> </li>
    </ul>-->
    <ul id="nav-menu">
        <li data-menuanchor="#page1"> <a href='#page1'>Home</a> </li>
        <li data-menuanchor="#page2"> <a href='#page2'>About</a> </li>
        <li data-menuanchor="#page3"> <a href='#page3'>TikTok</a> </li>
        <li data-menuanchor="#page4"> <a href='#page4'>Telegram</a> </li>
        <li data-menuanchor="#page5"> <a href='#page5'>Flickr</a> </li>
        <li data-menuanchor="#page6"> <a href='#page6'>Contact</a> </li>
    </ul>
</label>