<!DOCTYPE HTML>
<html>
{% include head.html %}
<body marginwidth='0' marginheight='0'>

{% include loader.html %}

{% include menu.html %}

<!--Fullpage Wrapper Start-->
<div id="fullpage">

    {% include sections/video-background.html %}

    {% include sections/about.html %}

    {% include sections/youtube-playlist.html %}

    {% include sections/portfolio.html %}

    {% include sections/blog.html %}

    {% include sections/contact.html %}

   {% include sections/footer.html %}

</div>
<!--Fullpage Wrapper End-->

{% include scripts.html %}


</body>
</html>
